* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.patientDoral.apk filter=lfs diff=lfs merge=lfs -text
*.patientDoral1.apk filter=lfs diff=lfs merge=lfs -text
