/* Buttons Start Here */
.btn-active{color:var(--white);font-size:13px;font-weight:500;background-color:#74C846;border-color:#74C846;border-radius: 10px;width: 100px;}
.btn-active:hover{background-color: #ffffff;color:#74C846;border-color:#74C846; animation-name:fadeIn;animation-duration:2s;animation-timing-function:normal;animation-delay:0;animation-iteration-count:1;animation-direction:normal;animation-fill-mode:none}
.btn-inactive{color:var(--white);font-size:13px;font-weight:500;background-color:#2EC2D0;border-color:#2EC2D0;border-radius: 10px;width: 100px;}
.btn-inactive:hover{background-color: #ffffff;color:#2EC2D0;border-color:#2EC2D0; animation-name:fadeIn;animation-duration:2s;animation-timing-function:normal;animation-delay:0;animation-iteration-count:1;animation-direction:normal;animation-fill-mode:none}
.btn-green1{height: 40px;border-radius:5px;border:solid 1px #006c76;font-size:13px;color:#fff;background-color: #006c76;font-weight:600;text-align:center;display: block;width: 140px;}
.btn-green1:hover{background-color: #fff;color:#006c76}
.btn-gray{height: 40px;border-radius:5px;border:solid 1px #535763;font-size:13px;color:#fff;background-color: #535763;font-weight:600;text-align:center;display: block;width: 140px;}
.btn-gray:hover{background-color: #fff;color:#535763}
.btn-sky{height: 40px;border-radius:5px;border:solid 1px #2EC2D0;font-size:13px;color:#fff;background-color: #2EC2D0;font-weight:600;text-align:center;display: block;width: 140px;}
.btn-sky:hover{background-color: #fff;color:#2EC2D0}
.border-r{border-radius: 100px!important;}
/* Buttons End Here */


.text-active{color: #000000;font-weight: 600;}
.text-active:hover{color: #077883;font-weight: 600;}
.search-width{min-width: 353px;}
.search_icon{height: 40px;border-radius: 5px;}
.icon_size{font-size: 22px!important;}
.btn-w-100{width: 100px;}
.modal_top{top: 68px;}

/* Add new patient */
.linebreak{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.img_profile{border: 1px solid #077883;filter: drop-shadow(4px 2px 10px rgba(0, 0, 0, 0.12));border-radius: 5px;}
.app .app-content .app-body .view_patient{margin: 10px 10px;}
.app .app-content .app-body .view_patient .b_shadow{box-shadow: 4px 2px 10px rgb(0 0 0 / 12%);border-radius: 5px;}
.app .app-content .app-body .view_patient ._title{font-size: 16px;color: #000000;font-weight: 700;}
.app .app-content .app-body .view_patient ._detail{font-size: 14px;color: #077883;font-weight: 400;}
.app .app-content .app-body .view_patient ul.frequency{display: flex;flex-wrap: wrap;}
.app .app-content .app-body .view_patient ul.frequency li{display: flex;align-items: center;font-size: 14px;width: 90px;margin-bottom: 10px;}
.app .app-content .app-body .view_patient .input-bg{background: #E3E3E3;color: #000000;font-size: 14px;padding-left: 20px;border-radius: 5px;border: 1px solid #E3E3E3;}
.app .app-content .app-body .view_patient .input-bg:focus{background: #fff;border: 1px solid #C5BFBF;}
.app .app-content .app-body .view_patient input::-webkit-input-placeholder{color: #000000;}
.app .app-content .app-body .view_patient input:-moz-placeholder{color: #000000;}
.app .app-content .app-body .view_patient input::-moz-placeholder{color: #000000;}
.app .app-content .app-body .view_patient input:-ms-input-placeholder{color: #000000;}
.app .app-content .app-body .view_patient .font_18{font-size: 18px;}