span.error-message {
    display: none;
    color: red;
}

img.update-icon {display: none;}

.editable_gender_div {display: none;}
.editable_service_div {display: none;}
.no-record-tr td {
    text-align: center;
}
.reset_btn{
    background-color: orange;border-color: orange;
}

.bottom-horizontal {
    border-bottom: 1px solid #d0d0d0;
    margin: 0px 44px;
}

.main_div:last-child .bottom-horizontal {
    border-bottom: 0px solid #d0d0d0;
}

span.note_error {
    color: red;
}

.select2-container {
    min-width: 100%!important;
}

tr.unread {
    background-color: #aeb7cc !important;
}

tr.read {
    background-color: #fff !important;
}